div
    h1(class='h1Title') Break Away
    div(class='menuBody')
        if logicAuth
            p(id='menuStartAuth' class='title')= 'Start'
        else
            p(id='menuStartNotAuth' class='title')= 'Start'
        p(id='menuRating' class='title')= 'Rating'
        if logicAuth
            p(id='menuLogout' class='title')= 'Logout'
        p(id='menuAbout' class='title')= 'About'

